/* Contenedor principal de la aplicación */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ocupa al menos el 100% del alto de la pantalla */
}

/* Área de contenido principal */
.site-content {
  flex: 1; /* Esto empuja el footer hacia abajo */
  width: 100%;
  /* Puedes añadir un max-width si no quieres que la web sea ultra ancha en pantallas gigantes */
  /* max-width: 1200px; */
  /* margin: 0 auto; */
}