@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Fuente base y color por defecto para todo el sitio */
  html {
    font-family: 'Andada Pro', sans-serif;
    color: #2b4436; 
  }

  /* Tamaños globales fijos en píxeles para encabezados */
  h1 {
    font-family: 'Andada Pro', sans-serif;
    font-size: 36px;
    font-weight: 600;
  }
  h2 {
    font-family: 'Andada Pro', sans-serif;
    font-size: 32px;
    font-weight: 600;
  }
  h3 {
    font-family: 'Andada Pro', sans-serif;
    font-size: 28px;
    font-weight: 600;
  }
  h4 {
    font-family: 'Andada Pro', sans-serif;
    font-size: 22px;
    font-weight: 600;
  }
  h5 {
    font-family: 'Andada Pro', sans-serif;
    font-size: 18px;
    font-weight: 600;
  }

  /* Tamaño global fijo en píxeles para párrafos */
  p {
    font-family: 'Andada Pro', sans-serif;
    font-size: 16px;
    line-height: 1.7; /* Interlineado normal predeterminado */
  }
}